abbr[title] {
    text-decoration:    none;
}
img {
    display:       inline-block;
    max-width:     100%;
    max-height:    100%;
}
select:disabled {
    background:    rgb(238, 238, 238);
    cursor:        not-allowed;
}


.jumbotron h1 {
	margin:    2rem  auto;
}
.label {
	margin-right:    0.5em;
}
.label a {
    color:              white;
	text-decoration:    none;
}
.media-left, .media-right {
    width:    10%;
}
.Ellipsis {
    overflow:         hidden;
    white-space:      nowrap;
    text-overflow:    ellipsis;
}
.Grid-Row {
    display:    table;
    width:      100%;
}
.Grid-Row > * {
    display:           table-cell;
    vertical-align:    middle;
}
.Card {
    border:        1px  solid  lightgray;
    transition:    0.25s;
    margin:        1rem  auto;
}
.Card:hover {
    box-shadow:    2px  2px  10px  lightgray;
}
.Card:first-child {
    margin-top:    0;
}
.Card:last-child {
    margin-bottom:    0;
}
.Card > * {
	padding:    1.5rem;
}


body {
    padding-top:    3.5em;
}
body > nav .navbar-brand {
    color:    white  !important;
}
@media (min-width: 768px) {
    .navbar-nav[data-name] {
        max-width:     32em;
        max-height:    3.5em;
        overflow:      auto;
    }
}
#PageBox {
    padding:    1em;
}
