abbr[title] {
    text-decoration:    none;
}
img {
    display:       inline-block;
    max-width:     100%;
    max-height:    100%;
}
select:disabled {
    background:    rgb(238, 238, 238);
    cursor:        not-allowed;
}


.jumbotron h1 {
	margin:    2rem  auto;
}
.label {
	margin-right:    0.5em;
}
.label a {
    color:              white;
	text-decoration:    none;
}
.media-left, .media-right {
    width:    10%;
}
.Ellipsis {
    overflow:         hidden;
    white-space:      nowrap;
    text-overflow:    ellipsis;
}
.Grid-Row {
    display:    table;
    width:      100%;
}
.Grid-Row > * {
    display:           table-cell;
    vertical-align:    middle;
}
.Card {
    border:        1px  solid  lightgray;
    transition:    0.25s;
    margin:        1rem  auto;
}
.Card:hover {
    box-shadow:    2px  2px  10px  lightgray;
}
.Card:first-child {
    margin-top:    0;
}
.Card:last-child {
    margin-bottom:    0;
}
.Card > * {
	padding:    1.5rem;
}


@media (min-width: 768px) {
    .navbar-fixed-top {
        background:    black;
    }
    a.navbar-brand,  .navbar-nav > li > a  {
        padding:    2rem  1rem  !important;
    }
    .navbar-brand {
        height:    auto;
    }
    .navbar-nav > li > a {
        font-size:      1.75rem;
        line-height:    45px;
    }
    #PageBox {
        padding-top:    7.75rem;
    }
    form.container {
        width:    970px;
    }
}
@media (min-width: 992px) {
    form.container {
        width:    750px;
    }
}
body > footer {
    background:    black;
    color:         white;
}
footer > .container > .row > * {
    padding:    2rem  0;
}
footer a {
    font-size:    0.85rem;
}
.qr-code img {
    border:    0.25rem  solid  white;
}
